.darkDeckBuilder {
    display: grid;
    position: relative;
    top: 5%;
    height: 35vh;
    width: 80vw;
    gap: 1vh;
    border-style: double;
    border-radius: 2vh;
    border-color: white;
    justify-items: stretch;
    align-items: center;
    justify-content: center;
  }

  .allCardsContent{
    display: flex;
    position: relative;
    top: 35%;
    height: 35vh;
    width: 80vw;
    border-style: double;
    border-radius: 2vh;
    border-color: white;
    justify-content:space-around;
    align-items: center;
  }

  #searchCards{
    display: flex;
    position: relative;
    top: 50%;
    left: 5%;
    width: 70vw;
    height: 4vh;
    text-align: center;
    font-size: larger;
  }

  .allCardsButtons{
    height: 20vh;
    width: 20vw;
    background-color: transparent;
    border-style:groove;
    border-radius: 1vh;
    border-color: #8f00ff;
  }

  img{
    object-fit: cover;

  }