<!-- Allow for multiple decks to be c/r/u/d; display decks saved that function the same as this page-->

<div class="darkDeckBuilder"></div>

<input
  id="searchCards"
  type="text"
  style="font-family: 'Permanent Marker'"
  placeholder="Search..."
/>

<div class="allCardsContent">
  <button class="allCardsButtons" (click)="addCard('thanos')">
    <img
      src="./assets/ThanosCard.png"
      alt="a playing card showing thanos with a cost 6 & power of 8"
    />
  </button>
  <button class="allCardsButtons" (click)="addCard('death')">
    <img
      style="background-color: transparent"
      src="./assets/DEATH.png"
      alt="a playing card showing DEATH with a cost of 9 & power of 12"
    />
  </button>
</div>
