<!-- Allow for multiple decks to be c/r/u/d; display decks saved that function the same as this page-->

<div class="darkDeckBuilder">
  <button class="darkButton">
    <img
      src="../assets/Thanos_Snap.png"
      alt="Thanos snapping icon"
    />
  </button>

  <button class="darkButton">
    <img
      src="../assets/Thanos_Snap.png"
      alt="Thanos snapping icon"
    />
  </button>
  <button class="darkButton">
    <img
      src="../assets/Thanos_Snap.png"
      alt="Thanos snapping icon"
    />
  </button>
  <button class="darkButton">
    <img
      src="../assets/Thanos_Snap.png"
      alt="Thanos snapping icon"
    />
  </button>
  <button class="darkButton">
    <img
      src="../assets/Thanos_Snap.png"
      alt="Thanos snapping icon"
    />
  </button>
 
  <!-- <h2 class="darkContent">
        Deck Builder
        <br/>
        Coming Soon...
      </h2> -->
</div>

<input style="font-family: 'Permanent Marker'" placeholder="Search..." />

<div>
  <h2 class="darkContent">
    Card List
    <br />
    Coming Soon...
  </h2>
</div>
