<div class="navBar">
  <!-- image should be a link to home page -->
  <div class="Logo">
    <img src="../assets/Thanos_Snap.png" alt="Thanos Snapping Emote" />
    <h1 class="LightLogoText" id="LogoText">AngularSNAP!</h1>
  </div>

  <button class="Links">Deck Builder Link</button>
  <button class="Links">Card Rater Link</button>
  <button (click)="newTab()" class="externalLinks">GitHub</button>
  <button (click)="modeSwitch()" class="externalLinks">
    <img src="/AngularSNAP/src/assets/lightdark.png" alt="Sun & Moon symbol"/>
  </button>
</div>
